<div class="container pt-4 dark">
  <h2 class="text-center c100">Newbro Guide</h2>
  <h4 class="c100">Joining our Ingame-Channel</h4>
  <p class="c100">To find us in game join the chat channel <code>TDF-Official</code> . You can do this by clicking the
    little plus button where your chat window is at the top. Then in the channels box type TDF-Official and then click
    join.</p>
  <img src="../../assets/img/joinChannel.jpeg" class="img-fluid mx-auto d-block" alt="">
  <p class="c100 mt-3">Once you join the TDF chatroom you should see some writing. That writing is called the Message
    of the day (MOTD) read it all carefully as it should explain many of your questions. Like where we are, if the
    fleet is running or not. It should also have several mailing list listed which have the recommend fits that are
    covered by our ship replacement program (SRP).</p>
  <hr style="border-color: #CFD8DC">
  <h2 class="text-center c100">Fits</h2>
  <h4 class="c100">Mailing Lists</h4>
  <p class="c100">In order to be always up to date with our current doctrine. Please join our mailing lists</p>
  <ul class="c100 b800 noDots pl-1">
    <li>TDF-FITS VG1 (VG Fitting’s)</li>
    <li>TDF-FITS HQ1 (ASS/HQ Fitting’s)</li>
    <li>TDF-FITS LOGI1 (LOGI Fitting’s)</li>
    <li>TDF-IMPLANTS (Recomended Implants)</li>
    <li>TDF-SSS VG1 (Special VG Fitting’s)</li>
  </ul>
  <p class="c100">To join the mailing lists open up your evemail and then at the bottom left click add mailing list. In
    the box that opens type the name of the mailing list then click join

    Note: TDF-FITS VG1 are the Vanguard fits TDF-FITS HQ1 are fits for the big 40 person sites. You need a microwarp
    drive and more tank to fly HQ sites.</p>
  <img src="../../assets/img/mailinglist.jpeg" class="img-fluid mx-auto d-block" alt="">
  <p class="c100">The mailing list has a nice wide selection of fits covered by ship replacement program (SRP) starting
    with Apocalypse/Megathron/Tempest up to the advanced fits of Paladin/Kronos/Leshark/Vindicator/Nightmare/Machariel.</p>
  <p class="c100">Pick a fit you would like to fly. If you need help just ask in the chat channel for any advice
    getting setup. The general rule of thumb is when we run Vanguards you need 9850 raw armor + 55% min omni resists
    for tank. For assaults & HQ you need 17k raw armor + 65% min omni resists for tank.</p>
  <p class="c100"><b>IT IS HIGHLY RECOMMEND THAT YOU TRAIN THE ARMOR COMPENSATION SKILLS TO LVL 4 A.S.A.P. TRAINING
      EXPLOSIVE ARMOR COMP TO LVL 5 CAN HELP A LOT WITH YOUR TANK</b></p>
  <hr style="border-color: #CFD8DC">
  <h4 class="c100">Safties Green?</h4>
  <p class="c100">
    Now you have your ship setup you’re nearly there and ready to join fleet. First things first, you need to make sure
    your safety is set to green. You can see this buy undocking your ship. Once in space make sure you have a green
    button just to the top left of the Shield/Armor/Hull.
  </p>
  <img src="../../assets/img/safties.jpeg" class="img-fluid mx-auto d-block" alt="">
  <hr style="border-color: #CFD8DC">
  <h4 class="c100">Alarms</h4>
  <p class="c100">While out in space also make sure your shield/armor/hull alarms are turned on and set to 95%. You do
    this by clicking on the hamburger menu to the bottom right of your shield/armor/hull and then click the configure
    ship health alerts.</p>
  <img src="../../assets/img/alarms.png" class="img-fluid mx-auto d-block" alt="">
  <hr style="border-color: #CFD8DC">
  <h4 class="c100">Drones</h4>
  <p class="c100">Another thing you can do while in space is to set your drones to passive and focus fire. If you have
    drones in your ships dronebay, this can be done via clicking the hamburger menu in the top left of your drone
    window.</p>
  <img src="../../assets/img/drones.png" class="img-fluid mx-auto d-block" alt="">
  <hr style="border-color: #CFD8DC">
  <h4 class="c100">Duels</h4>
  <p class="c100">Again another thing you need to do is to set auto decline to duel invites and to set auto targeting
    back to zero. By pressing escape and then going to the general settings menu.</p>
  <img src="../../assets/img/duels.png" class="img-fluid mx-auto d-block" alt="">
  <hr style="border-color: #CFD8DC">
  <h4 class="c100">Broadcasting</h4>
  <p class="c100">Last thing to do now is setup your broadcast while in fleet. First you need to open the fleet window
    and then click form fleet.</p>
  <img src="../../assets/img/formfleet.png" class="img-fluid mx-auto d-block" alt="">
  <p class="c100">Once you’ve formed a fleet make sure that the broadcast buttons are showing. You do this by making
    sure the two
    arrows are pointing downwards. If they are not, click on the arrows to change there direction and show the
    broadcast buttons. Also make sure there’s a cross in the bottom right hand corner, which indicates that you
    broadcast to everyone in fleet. If there’s no cross keep clicking on the icon in the bottom right corner until it
    changes to a cross.</p>
  <img src="../../assets/img/bcIcons.png" class="img-fluid mx-auto d-block" alt="">
  <h5 class="c100">Color coding</h5>
  <p class="c100">Also whilst you are here you may as well colour code your broadcast settings. So click the hamburger
    menu in the top right then click broadcast settings. </p>
  <img src="../../assets/img/coloring.png" class="img-fluid mx-auto d-block" alt="">
  <p class="c100">Pick whatever colors you would like, below are are the ones i personally use.</p>
  <img src="../../assets/img/coloringColors.png" class="img-fluid mx-auto d-block" alt="">
  <hr style="border-color: #CFD8DC">
  <h4 class="c100">Do you have an Overview?</h4>
  <p class="c100">Right that’s it for settings, the one last thing you need to do before joining fleet is to have an
    overview with tags on it preferably with them in the first column. If you don’t know how to set that up look in the
    TDF-official chat channel and in the Message Of The Day at the bottom you will see TDF_Overview v1 . Click on that
    and then click yes to load the official TDF overview for incursions.</p>
  <img src="../../assets/img/overview.png" class="img-fluid mx-auto d-block" alt="">
  <h5 class="c100">Reloading the MOTD</h5>
  <p class="c100">Note: If you need to reload the MOTD because you can’t see what you need left click the cog wheel in the top right corner then left click reload MOTD.</p>
  <img src="../../assets/img/reloadMOTD.png" class="img-fluid mx-auto d-block" alt="">

</div>