<div *ngIf="loaded == true">
  <h4 class="text-center c100">Current Focus Status</h4>
  <ul class="c100 b800 noDots pl-1">
    <li><b>Current Focus: </b>{{focusName}}</li>
    <li><b>Current Status: </b>{{focusStatus.charAt(0).toUpperCase() + focusStatus.slice(1)}}</li>
    <li><b>Estimated time until focus ends: </b>{{estimate}}</li>
  </ul>
  <hr style="border-color: #CFD8DC">
</div>