<div class="container dark py-4 c100">
  <h2>Fleetstats</h2>
  <ul class="c100 b800 noDots pl-1 col-12 col-md-5">
    <li><B></B>ISK/h: <b>{{iskh}} ISK/h</b></li>
    <li><B></B>Total Earned: <b>{{totalearned}} ISK</b></li>
    <li><B></B>Total Time: <b>{{totalrunning}}</b></li>
  </ul>
  <ul class="c100 b800 noDots pl-1 col-12 col-md-5 offset-md-1">
    <li><B></B>Slowest Site: <b>{{slowest}}</b></li>
    <li><B></B>Fastest Site: <b>{{fastest}}</b></li>
    <li><B></B>Mean Site: <b>{{mean}}</b></li>
  </ul>
  <button type="button" class="btn btn-primary" (click)="newPaste()">New Paste</button>
  <h4 *ngIf="iskh == 'NaN'" class="text-red">There was an issue with your paste. A copy of the paste has been logged, so we can resolve that issue.</h4>
</div>