<div class="container dark pt-4">
  <form>
    <div class="form-group">
      <label class="white-text">Paste your wallet entries here</label>
      <textarea class="form-control" ref-textarea rows="3" [(ngModel)]="walletInput" name="walletInput"></textarea>
    </div>
    <button type="button" class="btn btn-success" (click)="calculatePayout()">Parse Input</button> 
  </form>
  <!-- <div *ngIf="calculated == true">
      <hr style="border-color: #CFD8DC">
      <h4 class="c100">Results</h4>
      <ul class="c100 b800 noDots pl-1 col-12 col-md-5">
          <li><B></B>ISK/h: <b>{{iskhParsed}} ISK/h</b></li>
          <li><B></B>Total Earned: <b>{{totalEarnedParsed}} ISK</b></li>
          <li><B></B>Total Time: <b>{{runningTimeString}}</b></li>
      </ul>
      <ul class="c100 b800 noDots pl-1 col-12 col-md-5 offset-md-1">
          <li><B></B>Slowest Site: <b>{{slowestTimeString}}</b></li>
          <li><B></B>Fastest Site: <b>{{fastestTimeString}}</b></li>
          <li><B></B>Mean Site: <b>{{averageTimeString}}</b></li>
      </ul>
  </div> -->
</div>