<div class="container pt-4 dark">
  <h2 class="text-center c100">DPS Fits</h2>
  <p class="c100">Our close range DPS Ships, sometimes refered to as CQC, get upfront and personal with the Sansha.
    They utillize short range weapons and modules to deliver high amounts of DPS to the Sanshas fleet.</p>
  <div ng-if="this.loadingStatus == true">
    <!-- HQ Fits -->
    <h4 class="c100">HQ-Fits</h4>
    <div id="DPSFitsHQ" role="tablist" aria-multiselectable="true" class="pb-4">

      <div class="card notSoDark c100">
        <div class="card-header" role="tab" id="StarterHeaderHQ">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#DPSFits" href="#StarterContentHQ" aria-expanded="true"
              aria-controls="StarterContent" class="c100">
              Starter
            </a>
          </h5>
        </div>
        <!-- Mega Basic -->
        <div id="StarterContentHQ" class="collapse in" role="tabpanel" aria-labelledby="StarterHeader">
          <div class="card-body">
            <h4 class="c100">Megathron</h4>
            <div class="row">
              <div class="col-12 col-lg-5">
                <img src="../../assets/fits/megaStarterHq.jpg" class="img-fluid" alt="" style="height: 800px;">
              </div>
              <div class="col-12 col-lg-7">
                <div id="StarterMegaHQCollapse" role="tablist" aria-multiselectable="true">
                  <div class="card dark c100">
                    <div class="card-header" role="tab" id="starterMegaHQCollapseEFTHeader">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#StarterMegaHQCollapse" href="#section1ContentId"
                          aria-expanded="true" aria-controls="section1ContentId">
                          EFT
                        </a>
                      </h5>
                    </div>
                    <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="starterMegaHQCollapseEFTHeader">
                      <div class="card-body">
                        <p style="vertical-align: text-top;"><code>[Megathron, Megathron]
                              <br>Damage Control II
                              <br>Magnetic Field Stabilizer II
                              <br>Magnetic Field Stabilizer II
                              <br>Magnetic Field Stabilizer II
                              <br>Magnetic Field Stabilizer II
                              <br>Imperial Navy Energized Adaptive Nano Membrane
                              <br>Imperial Navy Energized Adaptive Nano Membrane
                              <br>Imperial Navy 1600mm Steel Plates
                              <br>
                              <br>500MN Quad LiF Restrained Microwarpdrive
                              <br>Federation Navy Stasis Webifier
                              <br>Tracking Computer II
                              <br>Tracking Computer II
                              <br>
                              <br>Modal Mega Neutron Particle Accelerator I
                              <br>Modal Mega Neutron Particle Accelerator I
                              <br>Modal Mega Neutron Particle Accelerator I
                              <br>Modal Mega Neutron Particle Accelerator I
                              <br>Modal Mega Neutron Particle Accelerator I
                              <br>Modal Mega Neutron Particle Accelerator I
                              <br>Modal Mega Neutron Particle Accelerator I
                              <br>
                              <br>Large Anti-Explosive Pump I
                              <br>Large Trimark Armor Pump I
                              <br>Large Hyperspatial Velocity Optimizer II
                              <br>
                              <br>
                              <br>
                              <br>Federation Navy Hobgoblin x1
                              <br>Federation Navy Hammerhead x2
                              <br>Federation Navy Ogre x2
                              <br>
                              <br>Tracking Speed Script x2
                              <br>Scan Resolution Script x1
                              <br>Nanite Repair Paste x500
                              <br>Caldari Navy Antimatter Charge L x26000
                              <br>Optimal Range Script x2
                              </code></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card notSoDark">
        <div class="card-header" role="tab" id="BasicHeaderHQ">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#DPSFits" href="#BasicContentHQ" aria-expanded="true" aria-controls="BasicContent"
              class="c100">
              Basic Fits
            </a>
          </h5>
        </div>
        <!-- Vindi Basic -->
        <div id="BasicContentHQ" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
          <div class="card-body">
            <h4 class="c100">Vindicator Basic</h4>
            <div class="row">
              <div class="col-12 col-lg-5">
                <img src="../../assets/fits/VindiBasicHQ.jpg" class="img-fluid" alt="" style="height: 800px;">
              </div>
              <div class="col-12 col-lg-7">
                <div id="BasicVindiHQCollapse" role="tablist" aria-multiselectable="true">
                  <div class="card dark c100">
                    <div class="card-header" role="tab" id="BasicVindiHQCollapseEFTHeader">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#BasicVindiHQCollapse" href="#BasicVindiHQCollapseContent"
                          aria-expanded="true" aria-controls="BasicVindiHQCollapseContent">
                          EFT
                        </a>
                      </h5>
                    </div>
                    <div id="BasicVindiHQCollapseContent" class="collapse in" role="tabpanel" aria-labelledby="BasicVindiHQCollapseEFTHeader">
                      <div class="card-body">
                        <p style="vertical-align: text-top;"><code><br>[Vindicator, Vindicator]
                              <br>Damage Control II
                              <br>Magnetic Field Stabilizer II
                              <br>Magnetic Field Stabilizer II
                              <br>Magnetic Field Stabilizer II
                              <br>Imperial Navy Energized Adaptive Nano Membrane
                              <br>Imperial Navy Energized Adaptive Nano Membrane
                              <br>Imperial Navy 1600mm Steel Plates
                              <br>
                              <br>500MN Microwarpdrive II
                              <br>Federation Navy Stasis Webifier
                              <br>Federation Navy Stasis Webifier
                              <br>Tracking Computer II
                              <br>Tracking Computer II
                              <br>
                              <br>Neutron Blaster Cannon II
                              <br>Neutron Blaster Cannon II
                              <br>Neutron Blaster Cannon II
                              <br>Neutron Blaster Cannon II
                              <br>Neutron Blaster Cannon II
                              <br>Neutron Blaster Cannon II
                              <br>Neutron Blaster Cannon II
                              <br>Neutron Blaster Cannon II
                              <br>
                              <br>Large Anti-Explosive Pump I
                              <br>Large Hybrid Burst Aerator II
                              <br>
                              <br>
                              <br>
                              <br>Ogre II x5
                              <br>
                              <br>Optimal Range Script x2
                              <br>Tracking Speed Script x2
                              <br>Caldari Navy Antimatter Charge L x3000
                              <br>Null L x10000
                              <br>Void L x20000
                              <br>Nanite Repair Paste x500
                            </code></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card notSoDark">
        <div class="card-header" role="tab" id="AdvancedHeaderHQ">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#DPSFits" href="#AdvancedContentHQ" aria-expanded="true"
              aria-controls="BasicContent" class="c100">
              Advanced Fits
            </a>
          </h5>
        </div>
        <div id="AdvancedContentHQ" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
          <div class="card-body">
            <div id="AdvancedHQFitsAcc" role="tablist" aria-multiselectable="true">
              <!-- Vindi 22 -->
              <div class="card dark c100">
                <div class="card-header" role="tab" id="VindiAdvancedHQHeader">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#AdvancedHQFitsAcc" href="#VindiAdvancedHQContent"
                      aria-expanded="true" aria-controls="VindiAdvancedHQContent" class="c100">
                      Vindicator Advanced
                    </a>
                  </h5>
                </div>
                <div id="VindiAdvancedHQContent" class="collapse in" role="tabpanel" aria-labelledby="VindiAdvancedHQHeader">
                  <div class="card-body">
                    <h4 class="c100">Vindicator Advanced</h4>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/VIndiAdvancedHQ.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="AdvancedVindiHQCollapse" role="tablist" aria-multiselectable="true">
                          <div class="card notSoDark c100">
                            <div class="card-header" role="tab" id="AdvancedVindiHQCollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#AdvancedVindiHQCollapse" href="#AdvancedVindiHQCollapseContent"
                                  aria-expanded="true" aria-controls="AdvancedVindiHQCollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="AdvancedVindiHQCollapseContent" class="collapse in" role="tabpanel"
                              aria-labelledby="AdvancedVindiHQCollapseEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code>[Vindicator, Vindicator]<br>                                        Centum A-Type Energized Adaptive Nano Membrane<br>                                        Shadow Serpentis Damage Control<br>                                        Federation Navy Magnetic Field Stabilizer<br>                                        Federation Navy Magnetic Field Stabilizer<br>                                        Federation Navy Magnetic Field Stabilizer<br>                                        Federation Navy Magnetic Field Stabilizer<br>                                        Imperial Navy 1600mm Steel Plates<br>                                        <br>                                        Core X-Type 500MN Microwarpdrive<br>                                        True Sansha Stasis Webifier<br>                                        True Sansha Stasis Webifier<br>                                        Shadow Serpentis Tracking Computer<br>                                        Shadow Serpentis Tracking Computer<br>                                        <br>                                        Neutron Blaster Cannon II<br>                                        Neutron Blaster Cannon II<br>                                        Neutron Blaster Cannon II<br>                                        Neutron Blaster Cannon II<br>                                        Neutron Blaster Cannon II<br>                                        Neutron Blaster Cannon II<br>                                        Neutron Blaster Cannon II<br>                                        Neutron Blaster Cannon II<br>                                        <br>                                        Large Anti-Explosive Pump I<br>                                        Large Hybrid Burst Aerator II<br>                                        <br>                                        <br>                                        <br>                                        'Augmented' Ogre x5<br>                                        <br>                                        Optimal Range Script x2<br>                                        Tracking Speed Script x2<br>                                        Caldari Navy Antimatter Charge L x3000<br>                                        Null L x10000<br>                                        Void L x20000<br>                                        Nanite Repair Paste x2000<br>                                        <br>                                        <br>                                    </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Vindi Advanced Slaves-->
              <div class="card dark c100">
                <div class="card-header" role="tab" id="VindiAdvancedVG21Header">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#AdvancedHQFitsAcc" href="#VindiAdvancedVG21Content"
                      aria-expanded="true" aria-controls="VindiAdvancedVG21Content" class="c100">
                      Vindicator Advanced HG Slaves
                    </a>
                  </h5>
                </div>
                <div id="VindiAdvancedVG21Content" class="collapse in" role="tabpanel" aria-labelledby="VindiAdvancedVG21Header">
                  <div class="card-body">
                    <h4 class="c100">Vindicator Advanced HG Slaves<br>Requires High Grade Slaves</h4>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/VindiAdvancedVG21.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="VindiAdvancedVG21Collapse" role="tablist" aria-multiselectable="true">
                          <div class="card c100 notSoDark">
                            <div class="card-header" role="tab" id="VindiAdvancedVG21CollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#VindiAdvancedVG21Collapse" href="#VindiAdvancedVG21CollapseContent"
                                  aria-expanded="true" aria-controls="VindiAdvancedVG21CollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="VindiAdvancedVG21CollapseContent" class="collapse in" role="tabpanel"
                              aria-labelledby="VindiAdvancedVG21CollapseEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code>
                                    [Vindicator, Vindicator]<br>
                                    Centum A-Type Energized Adaptive Nano Membrane<br>
                                    Centum C-Type Energized Adaptive Nano Membrane<br>
                                    Shadow Serpentis Damage Control<br>
                                    Federation Navy Magnetic Field Stabilizer<br>
                                    Federation Navy Magnetic Field Stabilizer<br>
                                    Federation Navy Magnetic Field Stabilizer<br>
                                    Federation Navy Magnetic Field Stabilizer<br>
<br>
                                    Core X-Type 500MN Microwarpdrive<br>
                                    True Sansha Stasis Webifier<br>
                                    True Sansha Stasis Webifier<br>
                                    Shadow Serpentis Tracking Computer<br>
                                    Shadow Serpentis Tracking Computer<br>
<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
<br>
                                    Large Hyperspatial Velocity Optimizer I<br>
                                    Large Hybrid Burst Aerator II<br>
<br>
<br>
<br>
                                    'Augmented' Ogre x5<br>
<br>
                                    Optimal Range Script x2<br>
                                    Tracking Speed Script x2<br>
                                    Caldari Navy Antimatter Charge L x3000<br>
                                    Null L x10000<br>
                                    Void L x20000<br>
                                    Nanite Repair Paste x2000
                                    </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Kronos Advanced -->
              <div class="card dark c100">
                <div class="card-header" role="tab" id="KronosAdvancedHeader">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#AdvancedHQFitsAcc" href="#KronosAdvancedHQContent"
                      aria-expanded="true" aria-controls="KronosAdvancedHQContent" class="c100">
                      Kronos Advanced
                    </a>
                  </h5>
                </div>
                <div id="KronosAdvancedHQContent" class="collapse in" role="tabpanel" aria-labelledby="KronosAdvancedHeader">
                  <div class="card-body">
                    <h4 class="c100">Kronos Advanced</h4>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/KronosAdvancedHQ.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="AdvancedKronosHQCollapse" role="tablist" aria-multiselectable="true">
                          <div class="card c100 notSoDark">
                            <div class="card-header" role="tab" id="AdvancedKronosHQCollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#AdvancedKronosHQCollapse" href="#AdvancedKronosHQCollapseContent"
                                  aria-expanded="true" aria-controls="AdvancedKronosHQCollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="AdvancedKronosHQCollapseContent" class="collapse in" role="tabpanel"
                              aria-labelledby="AdvancedKronosHQCollapseEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code>[Kronos, Kronos]
                                      <br>Centum A-Type Energized Adaptive Nano Membrane
                                      <br>Imperial Navy 1600mm Steel Plates
                                      <br>Shadow Serpentis Damage Control
                                      <br>Federation Navy Magnetic Field Stabilizer
                                      <br>Federation Navy Magnetic Field Stabilizer
                                      <br>Federation Navy Magnetic Field Stabilizer
                                      <br>Federation Navy Magnetic Field Stabilizer
                                      <br>
                                      <br>True Sansha Stasis Webifier
                                      <br>Shadow Serpentis Tracking Computer
                                      <br>Shadow Serpentis Tracking Computer
                                      <br>Gist X-Type 500MN Microwarpdrive
                                      <br>
                                      <br>Large Remote Armor Repairer II
                                      <br>Large Remote Armor Repairer II
                                      <br>Imperial Navy Large Remote Capacitor Transmitter
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br>Small Tractor Beam II
                                      <br>
                                      <br>Large Anti-Explosive Pump II
                                      <br>Large Hybrid Burst Aerator II
                                      <br>
                                      <br>
                                      <br>
                                      <br>'Augmented' Acolyte x5
                                      <br>'Augmented' Hammerhead x5
                                      <br>Medium Hull Maintenance Bot II x5
                                      <br>
                                      <br>Optimal Range Script x2
                                      <br>Tracking Speed Script x2
                                      <br>Caldari Navy Antimatter Charge L x3000
                                      <br>Null L x12000
                                      <br>Void L x30000
                                      <br>Nanite Repair Paste x2000
                                      <br>
                                      <br>
                                      </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Kronos Advanced -->
              <div class="card dark c100">
                <div class="card-header" role="tab" id="KronosAdvancedSlavesHeader">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#AdvancedHQFitsAcc" href="#KronosAdvancedSlavesContent"
                      aria-expanded="true" aria-controls="KronosAdvancedSlavesContent" class="c100">
                      Kronos Advanced HG Slaves
                    </a>
                  </h5>
                </div>
                <div id="KronosAdvancedSlavesContent" class="collapse in" role="tabpanel" aria-labelledby="KronosAdvancedSlavesHeader">
                  <div class="card-body">
                    <h4 class="c100">Kronos Advanced HG Slaves</h4>
                    <p class="c100"><b>Requires HG Slaves</b></p>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/KronosAdvancedHQSlaves.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="AdvancedKronosHQSlavesCollapse" role="tablist" aria-multiselectable="true">
                          <div class="card c100 notSoDark">
                            <div class="card-header" role="tab" id="AdvancedKronosHQSlavesCollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#AdvancedKronosHQSlavesCollapse" href="#AdvancedKronosHQSlavesCollapseContent"
                                  aria-expanded="true" aria-controls="AdvancedKronosHQSlavesCollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="AdvancedKronosHQSlavesCollapseContent" class="collapse in" role="tabpanel"
                              aria-labelledby="AdvancedKronosHQSlavesCollapseEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code>
                                    [Kronos, Kronos]<br>
                                    Centum A-Type Energized Adaptive Nano Membrane<br>
                                    Centum C-Type Energized Adaptive Nano Membrane<br>
                                    Shadow Serpentis Damage Control<br>
                                    Federation Navy Magnetic Field Stabilizer<br>
                                    Federation Navy Magnetic Field Stabilizer<br>
                                    Federation Navy Magnetic Field Stabilizer<br>
                                    Federation Navy Magnetic Field Stabilizer<br>
                                    <br>
                                    True Sansha Stasis Webifier<br>
                                    Shadow Serpentis Tracking Computer<br>
                                    Shadow Serpentis Tracking Computer<br>
                                    Gist X-Type 500MN Microwarpdrive<br>
                                    <br>
                                    Large Remote Armor Repairer II<br>
                                    Large Remote Armor Repairer II<br>
                                    Imperial Navy Large Remote Capacitor Transmitter<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Neutron Blaster Cannon II<br>
                                    Small Tractor Beam II<br>
                                    <br>
                                    Large Hyperspatial Velocity Optimizer II<br>
                                    Large Hybrid Burst Aerator II<br>
                                    <br>
                                    <br>
                                    <br>
                                    'Augmented' Acolyte x5<br>
                                    'Augmented' Hammerhead x5<br>
                                    Medium Hull Maintenance Bot II x5<br>
                                    <br>
                                    Optimal Range Script x2<br>
                                    Tracking Speed Script x2<br>
                                    Caldari Navy Antimatter Charge L x3000<br>
                                    Null L x12000<br>
                                    Void L x30000<br>
                                    Nanite Repair Paste x2000
                                      </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card notSoDark">
        <div class="card-header" role="tab" id="EliteHeaderHQ">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#DPSFits" href="#EliteContentHQ" aria-expanded="true" aria-controls="BasicContent"
              class="c100">
              Elite Fits
            </a>
          </h5>
        </div>
        <div id="EliteContentHQ" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
          <div class="card-body">
            <!-- Elite here -->
            <div id="EliteFitsHQAcc" role="tablist" aria-multiselectable="true">
              <div class="card dark">
                <div class="card-header" role="tab" id="VindiEliteHQHeader">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#EliteFitsHQAcc" href="#VindiEliteHQContent" aria-expanded="true"
                      aria-controls="VindiEliteHQContent" class="c100">
                      Vindicator Elite
                    </a>
                  </h5>
                </div>
                <div id="VindiEliteHQContent" class="collapse in" role="tabpanel" aria-labelledby="VindiEliteHQHeader">
                  <div class="card-body">
                    <h4 class="c100">Vindicator Advanced HG Slaves<br>Requires High Grade Slaves</h4>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/VindiEliteHQ.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="VindiEliteHQCollapse" role="tablist" aria-multiselectable="true">
                          <div class="card c100 notSoDark">
                            <div class="card-header" role="tab" id="VindiEliteHQCollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#VindiEliteHQCollapse" href="#VindiEliteHQCollapseContent"
                                  aria-expanded="true" aria-controls="VindiEliteHQCollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="VindiEliteHQCollapseContent" class="collapse in" role="tabpanel" aria-labelledby="VindiEliteHQCollapseEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code><br>[Vindicator, Vindicator]
                                    <br>Centum A-Type Energized Adaptive Nano Membrane
                                    <br>Centum A-Type Energized Adaptive Nano Membrane
                                    <br>Shadow Serpentis Damage Control
                                    <br>Federation Navy Magnetic Field Stabilizer
                                    <br>Federation Navy Magnetic Field Stabilizer
                                    <br>Federation Navy Magnetic Field Stabilizer
                                    <br>Federation Navy Magnetic Field Stabilizer
                                    <br>
                                    <br>Core X-Type 500MN Microwarpdrive
                                    <br>True Sansha Stasis Webifier
                                      <br>True Sansha Stasis Webifier
                                      <br>Shadow Serpentis Tracking Computer
                                      <br>Shadow Serpentis Tracking Computer
                                      <br>
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br>Neutron Blaster Cannon II
                                      <br> Neutron Blaster Cannon II
                                      <br>
                                      <br>Large Trimark Armor Pump I
                                      <br>Large Hybrid Burst Aerator II
                                      <br>
                                      <br>
                                      <br>
                                      <br>'Augmented' Ogre x5
                                      <br>
                                      <br>Optimal Range Script x2
                                      <br>Tracking Speed Script x2
                                      <br>Caldari Navy Antimatter Charge L x3000
                                      <br>Null L x10000
                                      <br>Void L x20000
                                      <br>Nanite Repair Paste x2000
                                      <br>
                                      <br>
                                      </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card dark">
                <div class="card-header" role="tab" id="VindiEliteSlavesHQHeader">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#EliteFitsHQAcc" href="#VindiEliteSlavesHQContent"
                      aria-expanded="true" aria-controls="VindiEliteSlavesHQContent" class="c100">
                      Vindicator Elite Slaves
                    </a>
                  </h5>
                </div>
                <div id="VindiEliteSlavesHQContent" class="collapse in" role="tabpanel" aria-labelledby="VindiEliteSlavesHQHeader">
                  <div class="card-body">
                    <h4 class="c100">Vindicator Elite HG Slaves<br>Requires High Grade Slaves</h4>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/VindiEliteHQSlaves.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="VindiEliteSlavesHQCollapse" role="tablist" aria-multiselectable="true">
                          <div class="card c100 notSoDark">
                            <div class="card-header" role="tab" id="VindiEliteSlavesCollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#VindiEliteSlavesHQCollapse" href="#VindiEliteSlavesHQCollapseContent"
                                  aria-expanded="true" aria-controls="VindiEliteSlavesHQCollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="VindiEliteSlavesHQCollapseContent" class="collapse in" role="tabpanel"
                              aria-labelledby="VindiEliteSlavesHQEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code><br>[Vindicator, Vindicator]
                                    <br>Centum A-Type Energized Adaptive Nano Membrane
                                    <br>Centum A-Type Energized Adaptive Nano Membrane
                                    <br>Shadow Serpentis Damage Control
                                    <br>Federation Navy Magnetic Field Stabilizer
                                    <br>Federation Navy Magnetic Field Stabilizer
                                    <br>Federation Navy Magnetic Field Stabilizer
                                    <br>Federation Navy Magnetic Field Stabilizer
                                    <br>
                                    <br>Core X-Type 500MN Microwarpdrive
                                    <br>True Sansha Stasis Webifier
                                    <br>True Sansha Stasis Webifier
                                    <br>Shadow Serpentis Tracking Computer
                                    <br>Shadow Serpentis Tracking Computer
                                    <br>
                                    <br>Neutron Blaster Cannon II
                                    <br>Neutron Blaster Cannon II
                                    <br>Neutron Blaster Cannon II
                                    <br>Neutron Blaster Cannon II
                                    <br>Neutron Blaster Cannon II
                                    <br>Neutron Blaster Cannon II
                                    <br>Neutron Blaster Cannon II
                                    <br>Neutron Blaster Cannon II
                                    <br>
                                    <br>Large Hyperspatial Velocity Optimizer I
                                    <br>Large Hybrid Burst Aerator II
                                    <br>
                                    <br>
                                    <br>
                                    <br>'Augmented' Ogre x5
                                    <br>
                                    <br>Optimal Range Script x2
                                    <br>Tracking Speed Script x2
                                    <br>Caldari Navy Antimatter Charge L x3000
                                    <br>Null L x10000
                                    <br>Void L x20000
                                    <br>Nanite Repair Paste x2000
                                    <br>
                                    <br>
                                      </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- VG Fits -->
    <h4 class="c100">VG-Fits</h4>
    <div id="DPSFits" role="tablist" aria-multiselectable="true" class="pb-4">
      <div class="card notSoDark c100">
        <div class="card-header" role="tab" id="StarterHeaderMeta4VG">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#DPSFits" href="#StarterContentMeta4VG" aria-expanded="true"
              aria-controls="StarterContent" class="c100">
              Starter with Meta4 Guns
            </a>
          </h5>
        </div>
        <div id="StarterContentMeta4VG" class="collapse in" role="tabpanel" aria-labelledby="StarterHeader">
          <div class="card-body">
            <h4 class="c100">Megathron Meta4</h4>
            <div class="row">
              <div class="col-12 col-lg-5">
                <img src="../../assets/fits/MegaMeta4VG.jpg" class="img-fluid" alt="" style="height: 800px;">
              </div>
              <div class="col-12 col-lg-7">
                <div id="StarterMegaMeta4VGCollapse" role="tablist" aria-multiselectable="true">
                  <div class="card dark c100">
                    <div class="card-header" role="tab" id="StarterMegaMeta4VGCollapseEFTHeader">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#StarterMegaMeta4VGCollapse" href="#StarterMegaMeta4VGId"
                          aria-expanded="true" aria-controls="StarterMegaMeta4VGId">
                          EFT
                        </a>
                      </h5>
                    </div>
                    <div id="StarterMegaMeta4VGId" class="collapse in" role="tabpanel" aria-labelledby="StarterMegaMeta4VGCollapseEFTHeader">
                      <div class="card-body">
                        <p style="vertical-align: text-top;"><code>[Megathron, Megathron]
                          <br>Damage Control II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Imperial Navy Energized Adaptive Nano Membrane
                          <br>Tracking Enhancer II
                          <br>Tracking Enhancer II
                          <br>
                          <br>Sensor Booster II
                          <br>Stasis Webifier II
                          <br>Stasis Webifier II
                          <br>Tracking Computer II
                          <br>
                          <br>Modal Mega Neutron Particle Accelerator I
                          <br>Modal Mega Neutron Particle Accelerator I
                          <br>Modal Mega Neutron Particle Accelerator I
                          <br>Modal Mega Neutron Particle Accelerator I
                          <br>Modal Mega Neutron Particle Accelerator I
                          <br>Modal Mega Neutron Particle Accelerator I
                          <br>Modal Mega Neutron Particle Accelerator I
                          <br>
                          <br>Large Anti-Explosive Pump I
                          <br>Large Trimark Armor Pump I
                          <br>Large Hyperspatial Velocity Optimizer II
                          <br>
                          <br>
                          <br>
                          <br>Imperial Navy Acolyte x5
                          <br>Vespa EC-600 x5
                          <br>
                          <br>Tracking Speed Script x1
                          <br>Scan Resolution Script x1
                          <br>Caldari Navy Antimatter Charge L x26000
                          <br>Nanite Repair Paste x500
                          <br> Optimal Range Script x1
                          </code></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card notSoDark c100">
        <div class="card-header" role="tab" id="StarterHeaderT2VG">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#DPSFits" href="#StarterContentT2VG" aria-expanded="true"
              aria-controls="StarterContent" class="c100">
              Starter with T2 Guns
            </a>
          </h5>
        </div>
        <div id="StarterContentT2VG" class="collapse in" role="tabpanel" aria-labelledby="StarterHeader">
          <div class="card-body">
            <h4 class="c100">Megathron T2</h4>
            <div class="row">
              <div class="col-12 col-lg-5">
                <img src="../../assets/fits/MegaT2Vg.jpg" class="img-fluid" alt="" style="height: 800px;">
              </div>
              <div class="col-12 col-lg-7">
                <div id="StarterMegaT2VGCollapse" role="tablist" aria-multiselectable="true">
                  <div class="card dark c100">
                    <div class="card-header" role="tab" id="StarterMegaT2VGCollapseEFTHeader">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#StarterMegaT2VGCollapse" href="#StarterMegaT2VGId"
                          aria-expanded="true" aria-controls="StarterMegaT2VGId">
                          EFT
                        </a>
                      </h5>
                    </div>
                    <div id="StarterMegaT2VGId" class="collapse in" role="tabpanel" aria-labelledby="StarterMegaT2VGCollapseEFTHeader">
                      <div class="card-body">
                        <p style="vertical-align: text-top;"><code>[Megathron, Megathron]
                          <br>Damage Control II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Imperial Navy Energized Adaptive Nano Membrane
                          <br>Tracking Enhancer II
                          <br>Tracking Enhancer II
                          <br>
                          <br>Sensor Booster II
                          <br>Stasis Webifier II
                          <br>Stasis Webifier II
                          <br>racking Computer II
                          <br>
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>
                          <br>Large Anti-Explosive Pump I
                          <br>Large Trimark Armor Pump I
                          <br>Large Hyperspatial Velocity Optimizer II
                          <br>
                          <br>
                          <br>
                          <br>Imperial Navy Acolyte x5
                          <br>Vespa EC-600 x5
                          <br>
                          <br>Optimal Range Script x1
                          <br>Tracking Speed Script x1
                          <br>Caldari Navy Antimatter Charge L x8000
                          <br>Null L x15000
                          <br>Scan Resolution Script x1
                          <br>Void L x2000
                          <br>Nanite Repair Paste x500
                        </code></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card notSoDark">
        <div class="card-header" role="tab" id="BasicHeaderVG">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#DPSFits" href="#BasicContentVG" aria-expanded="true" aria-controls="BasicContent"
              class="c100">
              Basic Fits
            </a>
          </h5>
        </div>
        <div id="BasicContentVG" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
          <div class="card-body">
            <h4 class="c100">Vindicator Basic</h4>
            <div class="row">
              <div class="col-12 col-lg-5">
                <img src="../../assets/fits/VindiBasicVG.jpg" class="img-fluid" alt="" style="height: 800px;">
              </div>
              <div class="col-12 col-lg-7">
                <div id="VindiBasicVGCollapse" role="tablist" aria-multiselectable="true">
                  <div class="card dark c100">
                    <div class="card-header" role="tab" id="VindiBasicVGCollapseEFTHeader">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#VindiBasicVGCollapse" href="#VindiBasicVGId"
                          aria-expanded="true" aria-controls="VindiBasicVGId">
                          EFT
                        </a>
                      </h5>
                    </div>
                    <div id="VindiBasicVGId" class="collapse in" role="tabpanel" aria-labelledby="VindiBasicVGCollapseEFTHeader">
                      <div class="card-body">
                        <p style="vertical-align: text-top;"><code>[Vindicator, Vindicator]
                          <br>Damage Control II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Magnetic Field Stabilizer II
                          <br>Tracking Enhancer II
                          <br>Imperial Navy Energized Adaptive Nano Membrane
                          <br>
                          <br>Sensor Booster II
                          <br>Federation Navy Stasis Webifier
                          <br>Federation Navy Stasis Webifier
                          <br>Tracking Computer II
                          <br>Tracking Computer II
                          <br>
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>Neutron Blaster Cannon II
                          <br>
                          <br>Large Anti-Explosive Pump I
                          <br>Large Hybrid Metastasis Adjuster II
                          <br>Large Hyperspatial Velocity Optimizer II
                          <br>
                          <br>
                          <br>
                          <br>Heavy Armor Maintenance Bot I x4
                          <br>Acolyte II x5
                          <br>
                          <br>ECCM Script x1
                          <br>Optimal Range Script x2
                          <br>Tracking Speed Script x2
                          <br>Scan Resolution Script x2
                          <br>Caldari Navy Antimatter Charge L x8000
                          <br>Null L x15500
                          <br>Void L x2000
                          <br>Nanite Repair Paste x2000
                        </code></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card notSoDark">
        <div class="card-header" role="tab" id="AdvancedHeaderVG">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#DPSFits" href="#AdvancedContentVG" aria-expanded="true"
              aria-controls="BasicContent" class="c100">
              Advanced Fits
            </a>
          </h5>
        </div>
        <div id="AdvancedContentVG" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
          <div class="card-body">
            <div id="AdvancedVGFitsAcc" role="tablist" aria-multiselectable="true">
              <!-- Vindi 22-->
              <div class="card dark c100">
                <div class="card-header" role="tab" id="VindiAdvanced22VGHeader">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#AdvancedVGFitsAcc" href="#VindiAdvanced22VGContent"
                      aria-expanded="true" aria-controls="VindiAdvanced22VGContent" class="c100">
                      Vindicator Advanced
                    </a>
                  </h5>
                </div>
                <div id="VindiAdvanced22VGContent" class="collapse in" role="tabpanel" aria-labelledby="VindiAdvanced22VGHeader">
                  <div class="card-body">
                    <h4 class="c100">Vindicator Advanced 2xWeb 2xSebo</h4>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/VindiAdvancedVG22.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="VindiAdvanced22VGCollapse" role="tablist" aria-multiselectable="true">
                          <div class="card notSoDark c100">
                            <div class="card-header" role="tab" id="VindiAdvanced22VGCollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#VindiAdvanced22VGCollapse" href="#VindiAdvanced22VGCollapseContent"
                                  aria-expanded="true" aria-controls="VindiAdvanced22VGCollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="VindiAdvanced22VGCollapseContent" class="collapse in" role="tabpanel"
                              aria-labelledby="VindiAdvanced22VGCollapseEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code>
                                        [Vindicator, Vindicator]
                                        <br>Centum A-Type Energized Adaptive Nano Membrane
                                        <br>Shadow Serpentis Magnetic Field Stabilizer
                                        <br>Shadow Serpentis Magnetic Field Stabilizer
                                        <br>Shadow Serpentis Magnetic Field Stabilizer
                                        <br>Shadow Serpentis Magnetic Field Stabilizer
                                        <br>Republic Fleet Tracking Enhancer
                                        <br>Republic Fleet Tracking Enhancer
                                        <br>
                                        <br>Federation Navy Stasis Webifier
                                        <br>Federation Navy Stasis Webifier
                                        <br>Shadow Serpentis Sensor Booster
                                        <br>Shadow Serpentis Sensor Booster
                                        <br>Shadow Serpentis Tracking Computer
                                        <br>
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>
                                        <br>Large Hybrid Metastasis Adjuster II
                                        <br>Large Hyperspatial Velocity Optimizer II
                                        <br>Large Anti-Explosive Pump II
                                        <br>
                                        <br>
                                        <br>
                                        <br>'Augmented' Acolyte x5
                                        <br>Heavy Armor Maintenance Bot II x4
                                        <br>
                                        <br>ECCM Script x1
                                        <br>Optimal Range Script x2
                                        <br>Tracking Speed Script x2
                                        <br>Scan Resolution Script x2
                                        <br>Caldari Navy Antimatter Charge L x8000
                                        <br>Null L x15500
                                        <br>Void L x2000
                                        <br>Nanite Repair Paste x2000
                                    </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Vindi Advanced 21-->
              <div class="card dark c100">
                <div class="card-header" role="tab" id="VindiAdvancedVG21Header">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#AdvancedVGFitsAcc" href="#VindiAdvancedVG21Content"
                      aria-expanded="true" aria-controls="VindiAdvancedVG21Content" class="c100">
                      Vindicator Advanced 2xWeb 1xSebo
                    </a>
                  </h5>
                </div>
                <div id="VindiAdvancedVG21Content" class="collapse in" role="tabpanel" aria-labelledby="VindiAdvancedVG21Header">
                  <div class="card-body">
                    <h4 class="c100">Vindicator Advanced 2xWeb 1xSebo</h4>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/VindiAdvancedVG21.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="VindiAdvancedVG21Collapse" role="tablist" aria-multiselectable="true">
                          <div class="card c100 notSoDark">
                            <div class="card-header" role="tab" id="VindiAdvancedVG21CollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#VindiAdvancedVG21Collapse" href="#VindiAdvancedVG21CollapseContent"
                                  aria-expanded="true" aria-controls="VindiAdvancedVG21CollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="VindiAdvancedVG21CollapseContent" class="collapse in" role="tabpanel"
                              aria-labelledby="VindiAdvancedVG21CollapseEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code>
                                        <br>[Vindicator, Vindicator]
                                        <br>Centum A-Type Energized Adaptive Nano Membrane
                                        <br>Shadow Serpentis Magnetic Field Stabilizer
                                        <br>Shadow Serpentis Magnetic Field Stabilizer
                                        <br>Shadow Serpentis Magnetic Field Stabilizer
                                        <br>Shadow Serpentis Magnetic Field Stabilizer
                                        <br>Republic Fleet Tracking Enhancer
                                        <br>Republic Fleet Tracking Enhancer
                                        <br>
                                        <br>Federation Navy Stasis Webifier
                                        <br>Federation Navy Stasis Webifier
                                        <br>Shadow Serpentis Sensor Booster
                                        <br>Shadow Serpentis Tracking Computer
                                        <br>Shadow Serpentis Tracking Computer
                                        <br>
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>Neutron Blaster Cannon II
                                        <br>
                                        <br>Large Hybrid Metastasis Adjuster II
                                        <br>Large Hyperspatial Velocity Optimizer II
                                        <br>Large Anti-Explosive Pump II
                                        <br>
                                        <br>
                                        <br>
                                        <br>'Augmented' Acolyte x5
                                        <br>Heavy Armor Maintenance Bot II x4
                                        <br>
                                        <br>ECCM Script x1
                                        <br>Optimal Range Script x2
                                        <br>Tracking Speed Script x2
                                        <br>Scan Resolution Script x2
                                        <br>Caldari Navy Antimatter Charge L x8000
                                        <br>Null L x15500
                                        <br>Void L x2000
                                        <br>Nanite Repair Paste x2000
                                      </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Vindi Advanced 32 -->
              <div class="card dark c100">
                <div class="card-header" role="tab" id="VindiAdvancedVG32Header">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#AdvancedVGFitsAcc" href="#VindiAdvancedVG32Content"
                      aria-expanded="true" aria-controls="VindiAdvancedVG32Content" class="c100">
                      Vindicator Advanced 3xWeb 1xSebo
                    </a>
                  </h5>
                </div>
                <div id="VindiAdvancedVG32Content" class="collapse in" role="tabpanel" aria-labelledby="VindiAdvancedVG32Header">
                  <div class="card-body">
                    <h4 class="c100">Vindicator Advanced 3xWeb 1xSebo</h4>
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <img src="../../assets/fits/VindiAdvancedVG32.jpg" class="img-fluid" alt="" style="height: 800px;">
                      </div>
                      <div class="col-12 col-lg-7">
                        <div id="AdvancedVindiVG32Collapse" role="tablist" aria-multiselectable="true">
                          <div class="card c100 notSoDark">
                            <div class="card-header" role="tab" id="AdvancedVindiVG32CollapseEFTHeader">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#AdvancedVindiVG32Collapse" href="#AdvancedVindiVG32CollapseContent"
                                  aria-expanded="true" aria-controls="AdvancedVindiVG32CollapseContent">
                                  EFT
                                </a>
                              </h5>
                            </div>
                            <div id="AdvancedVindiVG32CollapseContent" class="collapse in" role="tabpanel"
                              aria-labelledby="AdvancedVindiVG32CollapseEFTHeader">
                              <div class="card-body">
                                <p style="vertical-align: text-top;"><code>
                                          [Vindicator, Vindicator]
                                          <br>Centum A-Type Energized Adaptive Nano Membrane
                                          <br>Shadow Serpentis Magnetic Field Stabilizer
                                          <br>Shadow Serpentis Magnetic Field Stabilizer
                                          <br>Shadow Serpentis Magnetic Field Stabilizer
                                          <br>Shadow Serpentis Magnetic Field Stabilizer
                                          <br>Republic Fleet Tracking Enhancer
                                          <br>Republic Fleet Tracking Enhancer
                                          <br>
                                          <br>Federation Navy Stasis Webifier
                                          <br>Federation Navy Stasis Webifier
                                          <br>Federation Navy Stasis Webifier
                                          <br>Shadow Serpentis Sensor Booster
                                          <br>Shadow Serpentis Tracking Computer
                                          <br>
                                          <br>Neutron Blaster Cannon II
                                          <br>Neutron Blaster Cannon II
                                          <br>Neutron Blaster Cannon II
                                          <br>Neutron Blaster Cannon II
                                          <br>Neutron Blaster Cannon II
                                          <br>Neutron Blaster Cannon II
                                          <br>Neutron Blaster Cannon II
                                          <br>Neutron Blaster Cannon II
                                          <br>
                                          <br>Large Hybrid Metastasis Adjuster II
                                          <br>Large Hyperspatial Velocity Optimizer II
                                          <br>Large Anti-Explosive Pump II
                                          <br>
                                          <br>
                                          <br>
                                          <br>'Augmented' Acolyte x5
                                          <br>Heavy Armor Maintenance Bot II x4
                                          <br>
                                          <br>ECCM Script x1
                                          <br>Optimal Range Script x2
                                          <br>Tracking Speed Script x2
                                          <br>Scan Resolution Script x2
                                          <br>Caldari Navy Antimatter Charge L x8000
                                          <br>Null L x15500
                                          <br>Void L x2000
                                          <br>Nanite Repair Paste x2000
                                        </code></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2w 2s -->
            </div>
          </div>
        </div>
        <div class="card notSoDark">
          <div class="card-header" role="tab" id="EliteHeaderVG">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#DPSFits" href="#EliteContentVG" aria-expanded="true"
                aria-controls="BasicContent" class="c100">
                Maurauders
              </a>
            </h5>
          </div>
          <div id="EliteContentVG" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
            <div class="card-body">
              <div id="EliteVGFitsAcc" role="tablist" aria-multiselectable="true">
                <!-- Vindi 22-->
                <div class="card dark c100">
                  <div class="card-header" role="tab" id="KronosVGHeader">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#AdvancedVGFitsAcc" href="#KronosVGContent"
                        aria-expanded="true" aria-controls="KronosVGContent" class="c100">
                        Kronos VG
                      </a>
                    </h5>
                  </div>
                  <div id="KronosVGContent" class="collapse in" role="tabpanel" aria-labelledby="KronosVGHeader">
                    <div class="card-body">
                      <h4 class="c100">Kronos</h4>
                      <div class="row">
                        <div class="col-12 col-lg-5">
                          <img src="../../assets/fits/KronosVG.jpg" class="img-fluid" alt="" style="height: 800px;">
                        </div>
                        <div class="col-12 col-lg-7">
                          <div id="KronosVGCollapse" role="tablist" aria-multiselectable="true">
                            <div class="card notSoDark c100">
                              <div class="card-header" role="tab" id="KronosVGCollapseEFTHeader">
                                <h5 class="mb-0">
                                  <a data-toggle="collapse" data-parent="#KronosVGCollapse" href="#KronosVGCollapseContent"
                                    aria-expanded="true" aria-controls="KronosVGCollapseContent">
                                    EFT
                                  </a>
                                </h5>
                              </div>
                              <div id="KronosVGCollapseContent" class="collapse in" role="tabpanel"
                                aria-labelledby="KronosVGCollapseEFTHeader">
                                <div class="card-body">
                                  <p style="vertical-align: text-top;"><code>
                                      [Kronos, Kronos]<br>
                                      Centum A-Type Energized Adaptive Nano Membrane<br>                                      Federation Navy Magnetic Field Stabilizer<br>                                      Federation Navy Magnetic Field Stabilizer<br>                                      Federation Navy Magnetic Field Stabilizer<br>                                      Federation Navy Magnetic Field Stabilizer<br>                                      Republic Fleet Tracking Enhancer<br>                                      Republic Fleet Tracking Enhancer<br>                                      <br>                                      Federation Navy Stasis Webifier<br>                                      Shadow Serpentis Sensor Booster<br>                                      Shadow Serpentis Tracking Computer<br>                                      Shadow Serpentis Tracking Computer<br>                                      <br>                                      Large Remote Armor Repairer II<br>                                      Large Remote Armor Repairer II<br>                                      Imperial Navy Large Remote Capacitor Transmitter<br>                                      Pithum A-Type Medium Remote Shield Booster<br>                                      Neutron Blaster Cannon II<br>                                      Neutron Blaster Cannon II<br>                                      Neutron Blaster Cannon II<br>                                      Neutron Blaster Cannon II<br>                                      <br>                                      Large Hyperspatial Velocity Optimizer II<br>                                      Large Anti-Explosive Pump II<br>                                      <br>                                      <br>                                      <br>                                      'Augmented' Acolyte x5<br>                                      Vespa EC-600 x5<br>                                      Medium Hull Maintenance Bot II x5<br>                                      <br>                                      Optimal Range Script x2<br>                                      Tracking Speed Script x2<br>                                      Scan Resolution Script x1<br>                                      Caldari Navy Antimatter Charge L x10000<br>                                      Null L x20000<br>                                      Void L x10000<br>                                      Nanite Repair Paste x2000<br>                                      <br>                                      
                                    </code></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Kronos Bastion-->
                <div class="card dark c100">
                  <div class="card-header" role="tab" id="KronosBastionHeader">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#AdvancedVGFitsAcc" href="#KronosBastionContent"
                        aria-expanded="true" aria-controls="KronosBastionContent" class="c100">
                        Kronos Bastion
                      </a>
                    </h5>
                  </div>
                  <div id="KronosBastionContent" class="collapse in" role="tabpanel" aria-labelledby="KronosBastionHeader">
                    <div class="card-body">
                      <h4 class="c100">Kronos Bastion</h4>
                      <div class="row">
                        <div class="col-12 col-lg-5">
                          <img src="../../assets/fits/KronosBastion.jpg" class="img-fluid" alt="" style="height: 800px;">
                        </div>
                        <div class="col-12 col-lg-7">
                          <div id="KronosBastionCollapse" role="tablist" aria-multiselectable="true">
                            <div class="card c100 notSoDark">
                              <div class="card-header" role="tab" id="KronosBastionCollapseEFTHeader">
                                <h5 class="mb-0">
                                  <a data-toggle="collapse" data-parent="#KronosBastionCollapse" href="#KronosBastionCollapseContent"
                                    aria-expanded="true" aria-controls="KronosBastionCollapseContent">
                                    EFT
                                  </a>
                                </h5>
                              </div>
                              <div id="KronosBastionCollapseContent" class="collapse in" role="tabpanel"
                                aria-labelledby="KronosBastionCollapseEFTHeader">
                                <div class="card-body">
                                  <p style="vertical-align: text-top;"><code>
                                      [Kronos, Kronos]<br>                                      Shadow Serpentis Damage Control<br>                                      Centum A-Type Energized Adaptive Nano Membrane<br>                                      Centus X-Type Large Armor Repairer<br>                                      Federation Navy Magnetic Field Stabilizer<br>                                      Federation Navy Magnetic Field Stabilizer<br>                                      Federation Navy Magnetic Field Stabilizer<br>                                      Republic Fleet Tracking Enhancer<br>                                      <br>                                      Federation Navy Stasis Webifier<br>                                      Shadow Serpentis Sensor Booster<br>                                      Shadow Serpentis Tracking Computer<br>                                      Shadow Serpentis Tracking Computer<br>                                      <br>                                      Large Remote Armor Repairer II<br>                                      Large Remote Armor Repairer II<br>                                      Neutron Blaster Cannon II<br>                                      Neutron Blaster Cannon II<br>                                      Neutron Blaster Cannon II<br>                                      Neutron Blaster Cannon II<br>                                      Pithum A-Type Medium Remote Shield Booster<br>                                      Bastion Module I<br>                                      <br>                                      Large Anti-Explosive Pump II<br>                                      Large Hyperspatial Velocity Optimizer II<br>                                      <br>                                      <br>                                      <br>                                      'Augmented' Acolyte x5<br>                                      Vespa EC-600 x5<br>                                      Medium Hull Maintenance Bot II x5<br>                                      <br>                                      Optimal Range Script x2<br>                                      Tracking Speed Script x2<br>                                      Scan Resolution Script x1<br>                                      Caldari Navy Antimatter Charge L x10000<br>                                      Null L x20000<br>                                      Void L x10000<br>                                      Nanite Repair Paste x2000<br>                                      <br>                                      
                                      </code></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>