<div class="container pt-4 dark">
    <h2 class="text-center c100">General Fitting Guidelines</h2>
    <ul class="c100 b800 noDots pl-1">
        <li class="mb-2"><b>- </b><b class="cyan">Only passive tank modules are allowed</b>, active tank modules are banned on all ships</li>
        <li class="mb-2"><b>- </b><b class="cyan">You cannot downgrade your tank</b> / Resists & Raw Armor Amount & Local Repper for VGs /<br><b class="cyan">Fitting more buffer does not substitute resists</b></li>
        <li class="mb-2"><b>- </b>DPS Battleships must use same gun platform as Doctrine Ships.<br>Guns can be changed only with active FCs permission</li>
        <li><b>- </b>Logi fits must have <b class="yellow">same repping power</b> as doctrine fits</li>
        <li><b>- </b>Logi fits must be able to <b class="yellow">lock 10 or more targets</b></li>
        <li class="mb-2"><b>- </b>Logi fits <b class="yellow">cannot downgrade their propmod</b></li>
        <li class="mb-2"><b>- </b>Oneiros must be cap stable with <b class="yellow">all modules running</b>. Exception is MoM refit, that is 3 rep stable</li>
        <li><b>- </b>Guardian must be cap stable with all modules running with <b class="yellow">1 (2 for logi4) incomming large cap transfers</b></li>
        <li><b>- </b>Advanced Guardian must be cap stable with all modules runing except one cap transfer</li>
        <li class="mb-2"><b>- </b>Advanced Guardian must have cap life to run <b class="yellow">all modules for at least 5 minutes</b></li>
        <li class="mb-4"><b>- </b>Nestor must be cap stable with <b class="yellow">5 Remote Reps + SEBO</b></li>
        <li><b>- </b><b class="cyan">IMPORTANT</b></li>
        <li><b>- </b><b class="yellow">IMPORTANT FOR LOGI</b></li>
      </ul>
</div>
