<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark notSoDark c100" style="font-weight: 400">
  <a class="navbar-brand c100" href="#">The Ditanian Fleet</a>
  <button class="navbar-toggler hidden-lg-up c100" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon c100"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link c100" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle c100" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guides</a>
        <div class="dropdown-menu notSoDark" aria-labelledby="dropdownId">
          <a class="dropdown-item c100 justABitDark" routerLink="/guide/newbro" routerLinkActive="active">Newbro Guide</a>
          <a class="dropdown-item c100 justABitDark" routerLink="/guide/joiningfleet" routerLinkActive="active">Joining Fleet</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle c100" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fittings</a>
        <div class="dropdown-menu notSoDark" aria-labelledby="dropdownId">
          <a class="dropdown-item c100 justABitDark" routerLink="/fits/general" routerLinkActive="active">GENERAL RULES</a>
          <a class="dropdown-item c100 justABitDark" routerLink="/fits/dps" routerLinkActive="active">DPS</a>
          <a class="dropdown-item c100 justABitDark" routerLink="/fits/logi" routerLinkActive="active">LOGI</a>
          <a class="dropdown-item c100 justABitDark" routerLink="/fits/sniper" routerLinkActive="active">SNIPER</a>
          <a class="dropdown-item c100 justABitDark" routerLink="/fits/booster" routerLinkActive="active">BOOSTER</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link c100" href="https://forum.ditanian.com">Forums</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link c100" routerLink="/fleetstats" routerLinkActive="active">Fleet Stat Calculator</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-0">
        <a class="navbar-brand my-0 py-0" href="https://discord.gg/M7WnfZg" routerLinkActive="active"><img src="../assets/img/DiscordBlue.png" alt="" style="height:40px"></a>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
