<div class="container pt-4 dark">
  <h2 class="text-center c100">Booster Fits</h2>
  <p class="c100"><b>ALL Boosters require max Armor/Skirmish boosting skills + <code>Federation Navy Command Mindlink</code>
      implant</b></p>
  <!-- HQ Fits -->
  <h4 class="c100">HQ-Fits</h4>
  <div id="BoosterFitsHQ" role="tablist" aria-multiselectable="true" class="pb-4">

    <div class="card notSoDark c100">
      <div class="card-header" role="tab" id="StarterHeaderHQ">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#Booster1HQ" aria-expanded="true" aria-controls="Booster1HQ" class="c100">
            Eos Armor/Skirmish
          </a>
        </h5>
      </div>
      <!-- Eos Armor/Skrimish -->
      <div id="Booster1HQ" class="collapse in" role="tabpanel" aria-labelledby="StarterHeaderHQ">
        <div class="card-body">
          <!--  -->
          <h4 class="c100">Eos Armor/Skirmish</h4>
          <div class="row">
            <div class="col-5">
              <img src="../../assets/fits/EosHQArmor.jpg" class="img-fluid" alt="" style="height: 800px;">
            </div>
            <div class="col-7">
              <div id="EosHQArmorCollapse" role="tablist" aria-multiselectable="true">
                <div class="card dark c100">
                  <div class="card-header" role="tab" id="EosHQArmorCollapseEFTHeader">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" href="#EosHQArmorId" aria-expanded="true" aria-controls="EosHQArmorId">
                        EFT
                      </a>
                    </h5>
                  </div>
                  <div id="EosHQArmorId" class="collapse in" role="tabpanel" aria-labelledby="EosHQArmorCollapseEFTHeader">
                    <div class="card-body">
                      <p style="vertical-align: text-top;"><code>
                              [Eos, Eos]<br>
                              Centum A-Type Energized Adaptive Nano Membrane<br>
                              Centum A-Type Energized Adaptive Nano Membrane<br>
                              Shadow Serpentis Damage Control<br>
                              Imperial Navy Drone Damage Amplifier<br>
                              Imperial Navy Drone Damage Amplifier<br>
                              Imperial Navy 1600mm Steel Plates<br>
                              <br>
                              Shadow Serpentis Remote Sensor Booster<br>
                              Shadow Serpentis Remote Sensor Booster<br>
                              Shadow Serpentis Remote Sensor Booster<br>
                              Gistum A-Type 50MN Microwarpdrive<br>
                              <br>
                              Armor Command Burst II<br>
                              Armor Command Burst II<br>
                              Armor Command Burst II<br>
                              Skirmish Command Burst II<br>
                              Small Tractor Beam II<br>
                              Auto Targeting System I<br>
                              <br>
                              Medium Command Processor I<br>
                              Medium Command Processor I<br>
                              <br>
                              <br>
                              <br>
                              'Augmented' Ogre x5<br>
                              Heavy Hull Maintenance Bot II x5<br>
                              <br>
                              ECCM Script x3<br>
                              Rapid Repair Charge x3000<br>
                              Armor Energizing Charge x3000<br>
                              Targeting Range Script x3<br>
                              Armor Reinforcement Charge x3000<br>
                              Scan Resolution Script x3<br>
                              Evasive Maneuvers Charge x3000<br>
                              Interdiction Maneuvers Charge x3000<br>
                              Rapid Deployment Charge x3000<br>
                              Nanite Repair Paste x500
                              
                              
                                </code></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Basic Fits -->
    <div class="card notSoDark">
      <div class="card-header" role="tab" id="BasicHeaderHQ">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#BasicContentHQ" aria-expanded="true" aria-controls="BasicContent" class="c100">
            Eos Armor/Skirmish Bricktank
          </a>
        </h5>
      </div>


      <!-- Basic Content -->
      <div id="BasicContentHQ" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
        <div class="card-body">
          <!-- Content -->
          <h4 class="c100">Eos Armor/Skirmish Bricktank</h4>
          <div class="row">
            <div class="col-5">
              <img src="../../assets/fits/EosHQArmorBricktank.jpg" class="img-fluid" alt="" style="height: 800px;">
            </div>
            <div class="col-7">
              <div id="EosHQArmorBricktankCollapse" role="tablist" aria-multiselectable="true">
                <div class="card dark c100">
                  <div class="card-header" role="tab" id="EosHQArmorBricktankCollapseEFTHeader">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" href="#EosHQArmorBricktankId" aria-expanded="true" aria-controls="EosHQArmorBricktankId">
                        EFT
                      </a>
                    </h5>
                  </div>
                  <div id="EosHQArmorBricktankId" class="collapse in" role="tabpanel" aria-labelledby="EosHQArmorBricktankCollapseEFTHeader">
                    <div class="card-body">
                      <p style="vertical-align: text-top;"><code>
                        [Eos, Eos]<br>
                        Centum A-Type Energized Adaptive Nano Membrane<br>
                        Centum A-Type Energized Adaptive Nano Membrane<br>
                        Shadow Serpentis Damage Control<br>
                        Centii A-Type Adaptive Nano Plating<br>
                        Centum A-Type Energized Explosive Membrane<br>
                        Imperial Navy 1600mm Steel Plates<br>
                        <br>
                        Shadow Serpentis Remote Sensor Booster<br>
                        Shadow Serpentis Remote Sensor Booster<br>
                        Shadow Serpentis Remote Sensor Booster<br>
                        Gistum A-Type 50MN Microwarpdrive<br>
                        <br>
                        Armor Command Burst II<br>
                        Armor Command Burst II<br>
                        Armor Command Burst II<br>
                        Skirmish Command Burst II<br>
                        Small Tractor Beam II<br>
                        Auto Targeting System I<br>
                        <br>
                        Medium Command Processor I<br>
                        Medium Command Processor I<br>
                        <br>
                        <br>
                        <br>
                        'Augmented' Ogre x5<br>
                        Heavy Hull Maintenance Bot II x5<br>
                        <br>
                        ECCM Script x3<br>
                        Rapid Repair Charge x3000<br>
                        Armor Energizing Charge x3000<br>
                        Targeting Range Script x3<br>
                        Armor Reinforcement Charge x3000<br>
                        Scan Resolution Script x3<br>
                        Evasive Maneuvers Charge x3000<br>
                        Interdiction Maneuvers Charge x3000<br>
                        Rapid Deployment Charge x3000<br>
                        Nanite Repair Paste x500
                      </code></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Advanced HQ -->
    <div class="card notSoDark">
      <div class="card-header" role="tab" id="AbsolutionHQ">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#AbsolutionHQContent" aria-expanded="true" aria-controls="BasicContent" class="c100">
            Absolution Info
          </a>
        </h5>
      </div>
      <div id="AbsolutionHQContent" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
        <div class="card-body">
          <!-- Content -->
          <h4 class="c100">Absolution Info</h4>
          <div class="row">
            <div class="col-5">
              <img src="../../assets/fits/AbsolutionHQ.jpg" class="img-fluid" alt="" style="height: 800px;">
            </div>
            <div class="col-7">
              <div id="AbsolutionHQCollapse" role="tablist" aria-multiselectable="true">
                <div class="card dark c100">
                  <div class="card-header" role="tab" id="AbsolutionHQCollapseEFTHeader">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" href="#AbsolutionHQId" aria-expanded="true" aria-controls="AbsolutionHQId">
                        EFT
                      </a>
                    </h5>
                  </div>
                  <div id="AbsolutionHQId" class="collapse in" role="tabpanel" aria-labelledby="AbsolutionHQCollapseEFTHeader">
                    <div class="card-body">
                      <p style="vertical-align: text-top;"><code>
                              [Absolution, Absolution]<br>
                              Imperial Navy Heat Sink<br>
                              Imperial Navy Heat Sink<br>
                              Imperial Navy Heat Sink<br>
                              Imperial Navy Heat Sink<br>
                              Centum A-Type Energized Adaptive Nano Membrane<br>
                              'Bailey' 1600mm Steel Plates<br>
                              Centii A-Type Adaptive Nano Plating<br>
                              <br>
                              50MN Digital Booster Microwarpdrive<br>
                              Shadow Serpentis Tracking Computer<br>
                              Shadow Serpentis Tracking Computer<br>
                              <br>
                              Information Command Burst II<br>
                              Information Command Burst II<br>
                              Heavy Beam Laser II<br>
                              Heavy Beam Laser II<br>
                              Heavy Beam Laser II<br>
                              Heavy Beam Laser II<br>
                              Heavy Beam Laser II<br>
                              <br>
                              Medium Ancillary Current Router I<br>
                              Medium Energy Burst Aerator II<br>
                              <br>
                              <br>
                              <br>
                              'Augmented' Hobgoblin x5<br>
                              <br>
                              Imperial Navy Multifrequency M x30<br>
                              Tracking Speed Script x2<br>
                              Optimal Range Script x2<br>
                              Imperial Navy Gamma M x30<br>
                              Sensor Optimization Charge x3000<br>
                              Electronic Superiority Charge x3000<br>
                              Electronic Hardening Charge x3000<br>
                              Aurora M x20<br>
                              Imperial Navy Ultraviolet M x30<br>
                              Imperial Navy Standard M x30<br>
                              Gleam M x30<br>
                              Nanite Repair Paste x500<br>
                              Imperial Navy Xray M x30
                            </code></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sleipnir -->
    <div class="card notSoDark">
      <div class="card-header" role="tab" id="AdvancedLogiHQ">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#AdvancedContentHQLogi" aria-expanded="true" aria-controls="BasicContent"
            class="c100">
            Sleipnir Shield/Skirmish
          </a>
        </h5>
      </div>
      <div id="AdvancedContentHQLogi" class="collapse in" role="tabpanel" aria-labelledby="BasicHeader">
        <div class="card-body">
          <!-- Content -->
          <h4 class="c100">Sleipnir Shield/Skirmish</h4>
          <div class="row">
            <div class="col-5">
              <img src="../../assets/fits/SleipnirHQShield.jpg" class="img-fluid" alt="" style="height: 800px;">
            </div>
            <div class="col-7">
              <div id="SleipnirHQShieldCollapse" role="tablist" aria-multiselectable="true">
                <div class="card dark c100">
                  <div class="card-header" role="tab" id="SleipnirHQShieldCollapseEFTHeader">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" href="#SleipnirHQShieldId" aria-expanded="true" aria-controls="SleipnirHQShieldId">
                        EFT
                      </a>
                    </h5>
                  </div>
                  <div id="SleipnirHQShieldId" class="collapse in" role="tabpanel" aria-labelledby="SleipnirHQShieldCollapseEFTHeader">
                    <div class="card-body">
                      <p style="vertical-align: text-top;"><code>
                                [Sleipnir, Sleipnir]<br>
                                Shadow Serpentis Damage Control<br>
                                Centum A-Type Energized Adaptive Nano Membrane<br>
                                Centum A-Type Energized Adaptive Nano Membrane<br>
                                Imperial Navy 1600mm Steel Plates<br>
                                Republic Fleet Gyrostabilizer<br>
                                <br>
                                Gistum B-Type 50MN Microwarpdrive<br>
                                'Marketeer' Tracking Computer<br>
                                'Marketeer' Tracking Computer<br>
                                Shadow Serpentis Tracking Computer<br>
                                Shadow Serpentis Tracking Computer<br>
                                <br>
                                425mm AutoCannon II<br>
                                425mm AutoCannon II<br>
                                425mm AutoCannon II<br>
                                Shield Command Burst II<br>
                                Shield Command Burst II<br>
                                Skirmish Command Burst II<br>
                                Skirmish Command Burst II<br>
                                <br>
                                Medium Command Processor I<br>
                                Medium Command Processor I<br>
                                <br>
                                <br>
                                <br>
                                'Augmented' Hobgoblin x5<br>
                                <br>
                                Hail M x10000<br>
                                Barrage M x3000<br>
                                Shield Harmonizing Charge x3000<br>
                                Shield Extension Charge x3000<br>
                                Tracking Speed Script x4<br>
                                Optimal Range Script x4<br>
                                Republic Fleet EMP M x10000<br>
                                Evasive Maneuvers Charge x3000<br>
                                Interdiction Maneuvers Charge x3000<br>
                                Rapid Deployment Charge x3000<br>
                                Nanite Repair Paste x2000
                                
                                
                                
                                
                                    
                                    
                                      </code></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- VG Fits -->
  <h4 class="c100">VG-Fits</h4>
  <div id="DPSFits" role="tablist" aria-multiselectable="true" class="pb-4">
    <div class="card notSoDark c100">
      <div class="card-header" role="tab" id="StarterHeaderMeta4VG">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#StarterContentMeta4VG" aria-expanded="true" aria-controls="StarterContent"
            class="c100">
            Eos Armor/Skirmish Drones
          </a>
        </h5>
      </div>
      <div id="StarterContentMeta4VG" class="collapse in" role="tabpanel" aria-labelledby="StarterHeader">
        <div class="card-body">
          <!--  -->
          <h4 class="c100">Eos Armor/Skirmish Drones</h4>
          <div class="row">
            <div class="col-5">
              <img src="../../assets/fits/EosVG.jpg" class="img-fluid" alt="" style="height: 800px;">
            </div>
            <div class="col-7">
              <div id="StarterMegaMeta4VGCollapse" role="tablist" aria-multiselectable="true">
                <div class="card dark c100">
                  <div class="card-header" role="tab" id="StarterMegaMeta4VGCollapseEFTHeader">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" href="#StarterMegaMeta4VGId" aria-expanded="true" aria-controls="StarterMegaMeta4VGId">
                        EFT
                      </a>
                    </h5>
                  </div>
                  <div id="StarterMegaMeta4VGId" class="collapse in" role="tabpanel" aria-labelledby="StarterMegaMeta4VGCollapseEFTHeader">
                    <div class="card-body">
                      <p style="vertical-align: text-top;"><code>
                          [Eos, Eos]<br>
                          Imperial Navy Drone Damage Amplifier<br>
                          Imperial Navy Drone Damage Amplifier<br>
                          Imperial Navy Drone Damage Amplifier<br>
                          Centii A-Type Adaptive Nano Plating<br>
                          Centum A-Type Energized Explosive Membrane<br>
                          Federation Navy 1600mm Steel Plates<br>
                          <br>
                          Shadow Serpentis Remote Tracking Computer<br>
                          Shadow Serpentis Remote Tracking Computer<br>
                          Sentient Remote Sensor Booster<br>
                          Sentient Drone Navigation Computer<br>
                          <br>
                          Armor Command Burst II<br>
                          Armor Command Burst II<br>
                          Armor Command Burst II<br>
                          Skirmish Command Burst II<br>
                          Black Eagle Drone Link Augmentor<br>
                          'Peace' Large Remote Armor Repairer<br>
                          <br>
                          Medium Command Processor I<br>
                          Medium Command Processor I<br>
                          <br>
                          <br>
                          <br>
                          Gecko x2<br>
                          Heavy Hull Maintenance Bot II x5<br>
                          'Augmented' Hobgoblin x3<br>
                          <br>
                          ECCM Script x3<br>
                          Optimal Range Script x3<br>
                          Tracking Speed Script x3<br>
                          Armor Energizing Charge x1000<br>
                          Rapid Repair Charge x1000<br>
                          Armor Reinforcement Charge x1000<br>
                          Scan Resolution Script x3<br>
                          Evasive Maneuvers Charge x1000<br>
                          Interdiction Maneuvers Charge x1000<br>
                          Rapid Deployment Charge x1000<br>
                          Nanite Repair Paste x500
                          
                          
                            </code></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card notSoDark c100">
      <div class="card-header" role="tab" id="StarterHeaderT2VG">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#StarterContentT2VG" aria-expanded="true" aria-controls="StarterContent"
            class="c100">
            Eos Armor/Skirmish Sentries
          </a>
        </h5>
      </div>
      <div id="StarterContentT2VG" class="collapse in" role="tabpanel" aria-labelledby="StarterHeader">
        <div class="card-body">
          <h4 class="c100">Eos Armor/Skirmish Sentries</h4>
          <div class="row">
            <div class="col-5">
              <img src="../../assets/fits/EosVGSentries.jpg" class="img-fluid" alt="" style="height: 800px;">
            </div>
            <div class="col-7">
              <div id="StarterMegaT2VGCollapse" role="tablist" aria-multiselectable="true">
                <div class="card dark c100">
                  <div class="card-header" role="tab" id="StarterMegaT2VGCollapseEFTHeader">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" href="#StarterMegaT2VGId" aria-expanded="true" aria-controls="StarterMegaT2VGId">
                        EFT
                      </a>
                    </h5>
                  </div>
                  <div id="StarterMegaT2VGId" class="collapse in" role="tabpanel" aria-labelledby="StarterMegaT2VGCollapseEFTHeader">
                    <div class="card-body">
                      <p style="vertical-align: text-top;"><code>
                          [Eos, Eos]<br>
                          Imperial Navy Energized Explosive Membrane<br>
                          Imperial Navy Drone Damage Amplifier<br>
                          Imperial Navy Drone Damage Amplifier<br>
                          Imperial Navy Drone Damage Amplifier<br>
                          Centii A-Type Adaptive Nano Plating<br>
                          Federation Navy 1600mm Steel Plates<br>
                          <br>
                          Shadow Serpentis Remote Tracking Computer<br>
                          Shadow Serpentis Remote Tracking Computer<br>
                          Sentient Omnidirectional Tracking Link<br>
                          Sentient Remote Sensor Booster<br>
                          <br>
                          Armor Command Burst II<br>
                          Armor Command Burst II<br>
                          Armor Command Burst II<br>
                          Skirmish Command Burst II<br>
                          Black Eagle Drone Link Augmentor<br>
                          'Peace' Large Remote Armor Repairer<br>
                          <br>
                          Medium Command Processor I<br>
                          Medium Command Processor I<br>
                          <br>
                          <br>
                          <br>
                          Garde II x5<br>
                          Heavy Hull Maintenance Bot II x5<br>
                          <br>
                          ECCM Script x3<br>
                          Optimal Range Script x3<br>
                          Tracking Speed Script x3<br>
                          Armor Energizing Charge x1000<br>
                          Rapid Repair Charge x1000<br>
                          Armor Reinforcement Charge x1000<br>
                          Scan Resolution Script x3<br>
                          Evasive Maneuvers Charge x1000<br>
                          Interdiction Maneuvers Charge x1000<br>
                          Rapid Deployment Charge x1000<br>
                          Nanite Repair Paste x500
                        </code></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>