/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-image: url("./assets/img/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

html, body{
    height: 100%;
}

.c50{
    color: #ECEFF1;
}

a.c100:hover{
    color:#fff
}

.c100{
    color: #CFD8DC;
    span.navbar-toggler-icon{
        border-color: #CFD8DC;
    }
}

.c200{
    color: #B0BEC5;
}

.c300{
    color: #90A4AE;
}

.c400{
    color: #78909C;
}

.c500{
    color: #607D8B;
}

.c600{
    color: #546E7A;
}

.c700{
    color: #455A64;
}

.c800{
    color: #37474F;
}

.c900{
    color: #263238;
}

.b50{
    background-color: #EbEFF1;
}

.b100{
    background-color: #bFD8Db;
}

.b200{
    background-color: #B0BEb5;
}

.b300{
    background-color: #90A4AE;
}

.b400{
    background-color: #78909b;
}

.b500{
    background-color: #607D8B;
}

.b600{
    background-color: #546E7A;
}

.b700{
    background-color: #455A64;
    .card-header{
        border-bottom-color: #777;
    }
}

.b700.card{
    border-color: #888;
}

.b800{
    background-color: #37474F;
}

.b900{
    background-color: #263238;
}

.dark{
    background-color: #222;
}

.notSoDark{
    background-color: #333;
}

a.justABitDark:hover{
    background-color: #555;
}

.dropdown-item.active{
    background-color: #777;
}

code{
    color: #fff;
}

.noDots{
    list-style-type: none;
    display: inline-block;
    padding-right: 40px;
    border-left: 10px solid #78909C ;
}

b{
    font-weight: 700;
    color: #fff !important;
}

.img-fluid{
    margin-bottom: 1.5rem;
}

.dropdown-menu{
    border: 1px solid rgba($color: #888, $alpha: 0.15);
}

.sublist{
    margin-left: 1rem;
}



