<div class="container pt-4 dark">
  <incursion-status></incursion-status>
  <h4 class="text-center c100">Welcome to The Ditanian Fleet</h4>
  <p class="c100">Hello there, today I’d like to let people know about the Incursion community The Ditanian Fleet (TDF). We’re an open newbro friendly group that anyone is welcome to fly with. Well as long as you don’t have killrights against you or any ongoing wardec, That’s mainly for your own safety as we don’t want you to die. We also exclude anyone that has previous history of ganking highsec incursion runners for fleet safety reasons.The Ditanian Fleet is an armor doctrine incursion community. We run everything from Vanguards (10 person), to Assaults (20 person), To Headquarters (40 person) Incursion sites. We have fleet commanders from all over the world so you should be able to, as long as there is enough people, find at least a Vanguard fleet up and running. The Assault and Headquarters fleet tend to run more in the evening 15:00 evetime on wards weekdays. Weekends Headquarter fleet can be up 24/7. Also the backbone of our doctrine is made up of Armor tanked battleships.</p>
  <hr style="border-color: #CFD8DC">
  <h4 class="text-center c100">Armor Vs Shields</h4>
  <p class="c100">Unsure about joining an Armor fleet due to your skills being mainly for shield tanking, well think on this. If you can fit a Tech 2 damage control unit (hull upgrades level 4), which is a requirement for any shield fleet. Then all you need to get, to start of with, are the Armor compensation skills trained up to lvl 3 and Armor rigging to lvl 3 to fly with us. Which should if irrc only take around 24 hours at most. The advantages an Armor fleets has over a shield fleet are simply this :</p>
  <ul class="c100">
    <li class="mb-4">Armor fleets are far safer, as your tank is not cap dependent. So if you get neuted out by say an Outuni npc which has capital sized neuts your tank wont turn off. We also use the Nestor battleship which is equal to two conventional tech 2 cruiser logi. The Marauders like the Kronos and Paladin also carry armor repairers and the new Precursor battleship the Leshack has enough constant repping power it’s equal to 0.55 cruiser logi. So we have more reps then we could ever need on grid at anyone time ready to save your ship.</li>
    <li class="mb-4">Also due to the low slots being used for tanking the mid slots on your ship are freed up for damage application mods. Which allows us to kill NPC much faster.</li>
    <li class="mb-4">It used to be that shield fleets had the most dps. That’s no longer true thanks to the Leshack & Nestor. With every Nestor on grid we can remove a Tech 2 cruiser logi and add another DPS or sniper boat. Then there’s the Leshack, It starts of DPS wise as equivalent to a shield Nightmare battleship. In 30 to 40 seconds it’s on par with a shield Vindicator. At full ramp up it’s like having a maxed out blinged fit pve carrier on grid, dps wise.</li>
    <li class="mb-4">Your also less likely to be a target of gankers if you fly in an armor fleet. Shield fleets use Pithum A-types adaptive Invuls that cost around 1.5 billion ISK each. You can get the armor equivalent A-type EANM for nearly half the price.</li>
  </ul>
  <hr style="border-color: #CFD8DC">
  <h4 class="text-center c100">What are Incursions?</h4>
  <p class="c100">Incursions are automated events introduced with the Incursion expansion in which the NPC faction known as the Sansha’s Nation, led by Sansha Kuvakei, invade space in an attempt to conquer it for themselves. Capsuleers must fight off Sansha’s forces in order to return the contested space back into an area which can be more safely occupied.</p>
  <h5 class="c100 text-center">High-end PvE fleet content</h5>
  <p class="c100">Incursions are high-end PvE fleet content, well above that of regular level four missions and have more in common with level five missions than anything else. The introduction of incursions to the game added some much needed incentive for fleet content in highsec. It also gave people a very controlled environment to train up their skills as a logistics pilot as well as giving people a feel for organized fleets outside of general PvP. Contrary to missions, incursion fleets rely on buffers and resists supported by logistics ships in order to survive. The ships you face in incursions use electronic warfare, capacitor warfare as well as playing on speed and signature to their advantage. This forces incursion fleets to find ways around that in order to be successful.</p>
</div>