<div class="container pt-4 dark">
  <h2 class="text-center c100">Joining the fleet for the first time</h2>
  <!--Xup-->
  <h4 class="c100">"X-Up"</h4>
  <p class="c100">When the MOTD states that fleet is running x up in the TDF-Official chat channel with the ship type you would like to fly (CQC/SNIPER/LOGI) and join voice coms Teamspeak 3. Then link your fit in fleet once you join so the FC can check it. The acting FC may ask you to link the fit before joining fleet, it varies from FC to FC.</p>
  <p class="c100">Note: To link your fit in fleet, open the fitting window and drag the name of your fit in to the fleet chat text box and send it.</p>
  <img src="../../assets/img/xup.png" class="img-fluid mx-auto d-block" alt="">
  <p class="c100 mt-3">Make sure the acting FC knows that you’re a newbro. So they can explain how things work and check a couple of things with you</p>
  <hr style="border-color: #CFD8DC">
  <!--SRP-->
  <h2 class="c100">SRP</h2>
  <h4 class="c100">Paying the SRP</h4>
  <p class="c100">If you pay 15 mill to the ship replacement program corp, found in the fleets MOTD. You will be cover by the insurance from downtime to downtime, for FC & Logi error. So as long as you broadcast on time and do everything you’re supposed to do you will be paid out for the cost of your ship and for the moduals the loot fairy did not drop. Will will always try to pickup and return any moduals from your ships wreck. </p>
  <img src="../../assets/img/srp.png" class="img-fluid mx-auto d-block" alt="">
  <p class="c100">Right click on corp and give 15 mill, reason <code>SRP</code></p>
  <p class="c100">Note: Paying SRP is completely optional but highly advised for brand newbro that have never flown Incursions before.</p>
  <hr style="border-color: #CFD8DC">
  <!--getting to fleet-->
  <h4 class="c100">Getting to the fleet</h4>
  <p class="c100">Whats this means is, say you’ve just undocked and the fleet is running sites. If you warp to the FC you should normally land on a gate to one of the Incursions sites. If you try to warp again and get the natural phenomena error message instead of warping that means the fleet is on the other side of the gate.</p>
  <img src="../../assets/img/phenom.jpeg" class="img-fluid mx-auto d-block" alt="">
  <p class="c100">In some of the Incursion sites we don’t kill all the Sansha so we can run the sites as fast as possible. So if you warp to the FC as the fleet warps out of a site you will land on a gate where there is no fleet and there could be Sansha on the other side. If you then take that gate you could land in a site full of rats but there’s no fleet and more importantly no logi on the other side which could get you killed. That’s why you always warp to the FC when joining fleet until you get the natural phenomena error message.</p>
  <img src="../../assets/img/phenom.jpeg" class="img-fluid mx-auto d-block" alt="">
  <p class="c100">Once you get the natural phenomena error messgae ask your FC “FC Gate Status.” the FC will reply RED = don’t take gate, GREEN = take the gate.</p>
  <p class="c100"><b>Please never mention a colour. incase someone that doesn’t fully understand English hears the Word Green and then leeroys the site at the wrong time and gets themselves killed.</b></p>
  <hr style="border-color: #CFD8DC">
  <!--Anchor -->
  <h4 class="c100">Anchor Up!</h4>
  <p class="c100">Your Anchor depends on the type of ship you are flying</p>
  <ul class="c100 b800 noDots pl-1">
    <li>Snipers: AAA</li>
    <li>Close Range DPS (CQC): VVV</li>
    <li>Logi Cruiser: Orbit Nestor @10km (VG-Sites: FC@5km) <b>AFTERBURNER ON</b></li>
  </ul>
  <hr style="border-color: #CFD8DC">
  <!--Drones-->
  <h4 class="c100">All drones out and assigned</h4>
  <p class="c100">To assign drones first you need to deploy them. Then you can right click on the deployed group in the drone window, go to assist and click the name of the person that is your drone bunny.</p>
  <ul class="c100 b800 noDots pl-1">
    <li>Light Drones: DDD</li>
    <li>Medium/Heavies: HHH</li>
  </ul>
  <p class="c100">In big fleets it’s recommend that you have your drone bunnies on your watch list as this makes assisting drones much easier. As you can right click on the deployed group, go to assist then at the top you should see watch list. Go to that and then only the pilots on your watchlist will be listed instead of the entire fleet.</p>
  <img src="../../assets/img/assignDrones.png" class="img-fluid mx-auto d-block" alt="">
  <hr style="border-color: #CFD8DC">
  <!--Watchlist-->
  <h4 class="c100">I'm watching you</h4>
  <h5 class="c100">FC</h5>
  <p class="c100">First add the FC Listed in the MOTD. By right clicking on their name in the MOTD, go to pilot/fleet or just fleet fleet then left click add to watch list.</p>
  <img src="../../assets/img/wlfc.jpeg" class="img-fluid mx-auto d-block" alt="">
  <h5 class="c100">Drone Bunnies and Anchors</h5>
  <p class="c100">Once your watch list is open, you can simply drag and drop peoples names onto it to add them. Or drag them from the fleet chat members list. So drag and drop your anchor and drone bunnies directly from the MOTD onto your watch list you can also add your cap buddy if you have one or anyone else you think is important.</p>
  <img src="../../assets/img/wlmore.png" class="img-fluid mx-auto d-block" alt="">
  <hr style="border-color: #CFD8DC">
  <!-- Tags -->
  <h4 class="c100">I want to shoot Sansha</h4>
  <p class="c100">Once more, your targets depend on wich type of ship you are flying</p>
  <ul class="c100 b800 noDots pl-1">
    <li>Close Range DPS (CQC): Numbers (0-9)</li>
    <li>Snipers: Letters (Except X)</li>
  </ul>
  <p class="c100"><b>X tags are put up for safety reasons never fire at them or touch a gate with an x tag on it unless directly ordered to by the acting FC.</b></p>
  <hr style="border-color: #CFD8DC">
  <!-- Broadcasting -->
  <h4>Help, I'm getting shot</h4>
  <p class="c100">Basically on your overview you should be on where you can see the Sansha at all times. If the Sansha ever start flashing yellow (Yellow boxing) that means you are being targeted by sansha, immediately broadcast for armor repair if that happens.</p>
  <img src="../../assets/img/yellowbox.png" class="img-fluid mx-auto d-block" alt="">
  <p class="c100">The Yellow flashing will change to Red, which means the Sansha are firing at you. So you always broadcast as soon as yellow boxed as it gives logi an extra couple of seconds to lock you up and start applying reps before you take any damage. This is very important with armor fleets as the reps land at the end of the cycle and logi needs as much time as you can give them to apply those reps.</p>
  <hr style="border-color: #CFD8DC">
  <!-- DC  -->
  <h4 class="c100">I got disconnected</h4>
  <p class="c100">f you ever DC in game never log back in straight away. Always come on to coms (teamspeak 3) first. Then ask the FC is it safe to reconnect and make sure you let the FC know when you DC.</p>
  <p class="c100">The reason you do that, is say you DC for a couple of minutes. In that time the fleet could warp of to another site. So if you log back in straight away without checking, you could land in a site full of Sansha and get killed (NOT COVERED BY SRP). So always ask first on coms before logging back into game.</p>
  <hr style="border-color: #CFD8DC">
  <!-- Final note -->
  <h4 class="c100">Final Note</h4>
  <p class="c100 pb-2">Never be afraid to ask a question in fleet. There are no stupid questions just stupid answers, we’re hear to help you.</p>
</div>